table#lcrp-admin-review-table {
    width: 99%;
    background: white;
    border: 0px;
    margin-top: 25px;
    border-spacing: 0px;
    box-shadow: 6px 6px 18px 0px #e5e5e5;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
}

#lcrp-admin-review-table thead {
    background: #04aa6d;
    color: #fff;
    padding: 25px 0px;
}
#lcrp-admin-review-table tr {
    border-bottom: 1px solid #04aa6d;
}
#lcrp-admin-review-table th {
    padding: 20px 15px;
    font-size: 16px;
    border-right: 1px solid #ffffff78;
    text-align: -webkit-left;
}

#lcrp-admin-review-table tbody {
    padding: 10px;
}
#lcrp-admin-review-table td {
    padding: 17px 15px;
    border-top: 1px solid #04aa6d;
    text-align: -webkit-center;
}

a.lcrp-admin-view-course {
    color: inherit;
    text-decoration: none;
    text-align: center;
    display: block;
}

form#lcrp-licence-validate-form {
    display: block;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 18px 0px #e5e5e5;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
}

#lcrp-licence-validate-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
    font-size: 15px;
    margin-top: 25px;
    width: 100%;
}

#lcrp-licence-validate-form  input {
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
}

button.btn-lcrp-licence-submit {
    background: #04aa6d;
    border: 0px;
    padding: 15px 25px;
    width: 100%;
    margin: 25px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 6px 6px 18px 0px #e5e5e5;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms,border 300ms ease 0ms;
}
button.btn-lcrp-licence-submit:hover {
    box-shadow:none;
}

.wwc-cmn {
    display: block;
    margin: 35px 15px 25px;
}

.lcrp-licence-check-form{
    display: inline-flex;
    margin: 15px 15px 2px;
    min-width: 550px;
    width: auto;
}
div#lcrp-admin-review-table_wrapper {
    width: 97%;
    margin: 35px 15px 25px;
}

div#lcrp-admin-review-table_length, div#lcrp-admin-review-table_filter, div#lcrp-admin-review-table_info,div#lcrp-admin-review-table_paginate {
    margin: 5px;
    color: #04aa6d;
    margin-bottom: 10px;
    font-size: 16px;
}

#lcrp-admin-review-table .dashicons-yes-alt{
    margin-right: 25px;
    color: green;
}

#lcrp-admin-review-table .dashicons-trash{
    color: rgb(198, 24, 24);
}

#lcrp-admin-review-table .dashicons{
    cursor: pointer;
    font-size: 20px;

}

#lcrp-admin-review-table .checked-id{
    margin-right: 20px;

}

.lcrp-admin-table-wrapper #apply-action{
    margin-left: 20px;
    margin-top: 10px;
    padding: 2px 8px 5px 8px;
    cursor: pointer;
}

.lcrp-admin-table-wrapper #apply-action:hover{
    background-color: #04aa6d;
    border: 0.1px solid black;
    color: #fff;
    font-size: 16px; 
}

.lcrp-admin-table-wrapper .choose-bulk-action{
    margin-left: 20px;
    margin-bottom: 5px;
}